<!-- Willie Nelson Website -->

<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=0.1" />
      <title>Willie Nelson</title>
      <link rel="stylesheet" href="/static/styles/style.css" />
   </head>
   <body>
      <header>
         <h1>Willie Nelson</h1>
         <figure>
            <img
               id="img-el"
               src="/static/img/willie-cover.jpg"
               alt="Willie Nelson"
            />
         </figure>
         <button onclick="left()">←</button>
         <button onclick="right()">→</button>
         <script src="/js/index.js"></script>
      </header>
      <hr />
      <main>
         <section id="biography">
            <h2>Biography</h2>
            <ul>
               <li>Born April 29, 1933</li>
               <li>Singer, musician, songwriter, actor, legend</li>
               <li>8 children</li>
               <li>1 relative, Bobbie Nelson (sister)</li>
               <li>Marijuana legalization activist</li>
            </ul>
         </section>
         <section id="songs">
            <h2>Best Songs</h2>
            <ul>
               <li>Highwayman</li>
               <li>On the Road Again</li>
               <li>Always On My Mind</li>
               <li>Pancho and Lefty</li>
               <li>Blue Eyes Crying In the Rain</li>
               <li>Mammas Don't Let Your Babies Grow up to Be Cowboys</li>
               <li>For the Good Times</li>
               <li>Who'll Buy My Memories</li>
               <li>Good Hearted Woman</li>
               <li>American Remains</li>
            </ul>
         </section>
      </main>
   </body>
</html>
